@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }

  .prices-table-text {
    font-size: 14px;
  }

  .main-title {
    font-size: 48px;
  }

  .choose-us-item {
    width: 170px;
    height: 130px;
  }

  .choose-us-item:nth-child(2),
  .choose-us-item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  /*================== HEADER ==================*/
  .menu {
    display: none;
  }

  .phone-number {
    display: none;
  }

  .btn-button {
    display: none;
  }

  .page-header {
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    fill: white;
  }

  /* MOBILE-MENU */
  .menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.3s,
      visibility 0.3s;
  }

  .menu-backdrop.active {
    visibility: visible;
    opacity: 1;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -337px;
    width: 337px;
    height: 100%;
    background: #fff;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
  }

  .mobile-menu.active {
    right: 0;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* /MOBILE-MENU */

  /* MOBILE-MENU-LIST */
  .mobile-menu-wrap {
    display: flex;
    flex-direction: column;
    padding: 118px 0 0px 40px;
  }
  .mobile-menu-list {
    margin-bottom: 64px;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .mobile-menu-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #303030;
    transition: color 250ms linear;
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-link.active {
    color: var(--accent-color);
  }

  .mobile-phone-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
  }
  .mobile-phone-number:hover,
  .mobile-phone-number:focus {
    color: var(--accent-color);
  }
  .mobile-button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    padding: 12px 40px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background: transparent;
    color: #303030;
    margin-top: 20px;
    margin-bottom: 70px;
    transition: background-color 250ms linear;
  }
  .mobile-button:hover,
  .mobile-button:focus {
    background-color: var(--accent-color);
  }
  .mobile-social-wrapper {
    display: flex;
  }
  .mobile-social-wrapper::before {
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--light-theme-color);
    content: '';
    margin-top: 10px;
    margin-right: 40px;
  }
  .mobile-social-item:not(:last-child) {
    margin-bottom: 34px;
  }
  .mobile-social-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: #303030;
  }
  .mobile-social-link:hover,
  .mobile-social-link:focus {
    color: var(--accent-color);
  }
  /* /MOBILE-MENU-LIST */

  /* MENU-BTN */
  .burger {
    position: relative;
    border: none;
    background: transparent;
    width: 30px;
    height: 26px;
    z-index: 1000;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
    transition:
      background 0.3s,
      top 0.3s,
      transform 0.3s,
      box-shadow 0.3s;
  }

  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
  }

  .burger::after {
    bottom: 0;
  }

  .burger.active::before,
  .burger.active::after {
    background: #000;
    box-shadow: none;
  }

  .burger.active::before {
    top: 11px;
    transform: rotate(45deg);
  }

  .burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
  }

  /* /MENU-BTN */
  /*================== HEADER ==================*/
}
