:root {
  --white-color: #ffffff;
  --accent-color: #ff6c00;
  --dark-theme-color: #9da4bd99;
  --light-theme-color: #303030;
  --text-description-color: #555555;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Open Sans, sans-serif;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

/*================== COMPONENTS ==================*/
.btn-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;
  padding: 11px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  /* color: var(--white-color); */
}
.btn-button:hover,
.btn-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 20%;
}
.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.suptitle-theme-dark {
  color: var(--dark-theme-color);
}
.suptitle-theme-light {
  color: var(--light-theme-color);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 2%;
  color: var(--dark-theme-color);
}
/*================== /COMPONENTS ==================*/

/*================== HEADER ==================*/

.page-header {
  padding-top: 32px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 10%;

  /* color: var(--white-color); */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 10%;
  margin-left: auto;
  margin-right: 43px;

  /* color: var(--white-color); */
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}

.btn-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;

  /* color: var(--white-color); */
}
.btn-button:hover,
.btn-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/*================== /HEADER ==================*/

/*================== SECTION FOR HERO ==================*/

.hero {
}
.hero-left-side {
}
.hero-social-list {
  display: flex;
  gap: 40px;
}
.hero-social-item {
}
.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 20%;
  color: var(--light-theme-color);
}
.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-color);
}

.hero-right-side {
  padding-top: 272px;
  padding-bottom: 306px;
  padding-left: 100px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero/bg.jpg);
  background-size: cover;
}

.main-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.16;
  letter-spacing: 5%;
  color: var(--white-color);
  padding-bottom: 20px;
}

.hero-text {
  max-width: 360px;
}

/*================== /SECTION FOR HERO ==================*/

/*================== SECTION FOR ABOUT US ==================*/
.about {
  display: flex;
}

.about-left-images {
  margin-right: 30px;
}

.about-right-text {
  max-width: 470px;
  width: 100%;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 5%;
  margin-bottom: 20px;
  color: var(--light-theme-color);
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 2%;
  margin-bottom: 20px;
  color: var(--text-description-color);
}
.about-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 2%;
  margin-bottom: 42px;
  color: var(--text-description-color);
}
.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;
  padding: 11px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background: transparent;
}
.about-btn:hover,
.about-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/*================== /SECTION FOR ABOUT US ==================*/

/*================== SECTION FOR SERVICES AND PRICES  ==================*/
.prices {
  background-color: #555555;
}
.section {
}
.container {
}
.prices-description {
}
.suptitle {
}
.suptitle-theme-dark {
}
.prices-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 5%;
  margin-bottom: 44px;
  color: var(--white-color);
}

.prices-table-box {
  display: flex;
  margin-bottom: 40px;
}

.prices-btn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;
  padding: 11px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background: transparent;
  color: var(--white-color);
}
.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--accent-color);
}

/*================== /SECTION FOR SERVICES AND PRICES  ==================*/

/*================== SECTION WHY PEOPLE COME TO US  ==================*/
.choose-us {
  display: flex;
  justify-content: center;
}
.section {
}
.container {
}
.choose-us-list {
}
.list {
}
.choose-us-item {
}

.choose-us-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.27;
  letter-spacing: 5%;
  text-align: center;
  color: var(--light-theme-color);
}

.choose-us-numbers-text {
  max-width: 122px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.27;
  letter-spacing: 0%;
  text-align: center;
  color: var(--light-theme-color);
}
.choose-us-text-container {
  max-width: 500px;
}
.choose-us-text {
}
.suptitle {
}
.suptitle-theme-light {
}
.choose-us-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 5%;
  margin-bottom: 20px;
  color: var(--light-theme-color);
}

.choose-us-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--text-description-color);
}
/*================== /SECTION WHY PEOPLE COME TO US  ==================*/

/*================== SECTION FOR OUR BARBERS ==================*/
.berbers-section {
  background-color: #f7f7f7;
}

.barbers-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 5%;
  color: var(--light-theme-color);
  margin-bottom: 44px;
}

.barbers-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-card {
  flex-basis: calc((100% - 60px) / 3);
}

.barbers-info-container {
  margin-top: 30px;
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 2%;
  text-align: center;
  color: var(--light-theme-color);
  margin-bottom: 8px;
}

.barbers-skill {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 2%;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

/*================== /SECTION FOR OUR BARBERS ==================*/

/*================== SECTION FOR BARBA MEANS BEARD  ==================*/
.barba-info {
}
.section {
}
.suptitle-theme-light {
}
.barba-info-list {
  display: flex;
  gap: 30px;
}
.barba-info-item {
  flex-basis: calc((100% - 90px) / 4);
}
/*================== /SECTION FOR BARBA MEANS BEARD  ==================*/

/*================== SECTION FOR ONLINE-BOOKING AND CONTACTS  ==================*/
.booking {
  background-color: var(--text-description-color);
}
.booking-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 5%;
  color: var(--white-color);
}

.booking-address {
  margin-bottom: 70px;
  max-width: 270px;
}

.booking-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2%;
  color: var(--dark-theme-color);
  font-style: normal;
}

.booking-tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--dark-theme-color);
  font-style: normal;
}

.booking-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--dark-theme-color);
  font-style: normal;
}

.booking-time-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 2%;
  color: var(--dark-theme-color);
}

/*================== /SECTION FOR ONLINE-BOOKING AND CONTACTS  ==================*/
