:root {
  --white-color: #ffffff;
  --accent-color: #ff6c00;
  --dark-theme-color: #9da4bd99;
  --light-theme-color: #303030;
  --text-description-color: #555555;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Open Sans, sans-serif;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

/*================== COMPONENTS ==================*/
.btn-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;
  padding: 11px 20px;
  border: 1px solid #ff6c00;
  /* border-width: 1px; */
  border-radius: 25px;

  /* color: var(--white-color); */
}
.btn-button:hover,
.btn-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 20%;
}
.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.suptitle-theme-dark {
  color: var(--dark-theme-color);
}
.suptitle-theme-light {
  color: var(--light-theme-color);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 2%;
  color: var(--dark-theme-color);
}
/*================== /COMPONENTS ==================*/

/*================== HEADER ==================*/

.page-header {
  padding-top: 32px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 10%;

  /* color: var(--white-color); */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 10%;
  margin-left: auto;
  margin-right: 43px;

  /* color: var(--white-color); */
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}

.btn-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 9%;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;

  /* color: var(--white-color); */
}
.btn-button:hover,
.btn-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/*================== /HEADER ==================*/

/*================== SECTION FOR HERO ==================*/

.hero {
}
.hero-left-side {
}
.hero-social-list {
}
.hero-social-item {
}

.hero-right-side {
}

.main-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.16;
  letter-spacing: 5%;

  /* color: var(--white-color); */
}

/*================== /SECTION FOR HERO ==================*/

/*================== SECTION FOR OUR BARBERS ==================*/
.berbers-section {
  background-color: #f7f7f7;
}

.barbers-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-card {
  flex-basis: calc((100% - 60px) / 3);
}

/*================== /SECTION FOR OUR BARBERS ==================*/
