@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /*================== HEADER ==================*/

  /*================== /HEADER ==================*/

  /*================== SECTION FOR HERO ==================*/
  .hero-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-right-side {
    padding: 272px 0 237px 98px;
    background-image:
      linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-right-side {
    background-image:
    linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero/bg-tab-2x.jpg);
  }
}

  .hero-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .hero-left-side {
    width: 100px;
    display: flex;
    align-items: flex-end;
  }

  .hero-social-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    transform-origin: bottom left;
    transform: rotate(-90deg) translateY(100%);
    padding-top: 27px;
    padding-left: 40px;
  }
  .hero-social-list::before {
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--light-theme-color);
    content: '';
  }

  .hero-social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--light-theme-color);
    transition: color 250ms linear;
  }
  .hero-social-link:hover,
  .hero-social-link:focus {
    color: var(--accent-color);
  }
  /*================== /SECTION FOR HERO ==================*/

   /*================== SECTION FOR SERVICES AND PRICES  ==================*/
  .prices {
    background-image:
      linear-gradient(rgba(17, 19, 25, 0.2), rgba(17, 19, 25, 0.2)),
      url(../images/services/services-tab.jpg);
}
   /*================== /SECTION FOR SERVICES AND PRICES  ==================*/

  /*================== SECTION FOR OUR BARBERS ==================*/
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .berbers-section > .container {
      max-width: 450px;
    }

    .prices-table-text {
      font-size: 18px;
      line-height: 1.66;
    }

    .prices-table-left,
    .prices-table-right {
      padding: 32px 40px;
    }
  }
  /*================== /SECTION FOR OUR BARBERS ==================*/

  /*================== GALLERY  ==================*/
  .gallery-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  /*================== /GALLERY  ==================*/
}
