@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .burger {
    display: none;
  }
  .mobile-menu-wrap {
    display: none;
  }
  /*================== HEADER ==================*/
  .page-header {
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 71px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-item:not(:last-child) {
    margin-right: 10px;
  }

  .menu-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 2px;
    color: var(--white-color);
    transition: color 250ms linear;
    position: relative;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }
  .menu-link.active {
    color: var(--accent-color);
  }

  .phone-number-wrapper {
    margin-left: auto;
  }

  .phone-number {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 1.8px;
    margin-right: 43px;
    color: var(--white-color);
    transition: color 250ms linear;
    margin-left: auto;
  }
  .phone-number:hover,
  .phone-number:focus {
    color: var(--accent-color);
  }

  .btn-button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 1.08px;
    padding: 11px 20px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 32px;
    color: var(--white-color);
    transition: background-color 250ms linear;
  }
  .btn-button:hover,
  .btn-button:focus {
    background-color: var(--accent-color);
  }
  /*================== /HEADER ==================*/

  /*================== SECTION FOR HERO ==================*/
  .hero-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-right-side {
    padding: 272px 0 237px 98px;
    background-image:
      linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-right-side {
      background-image:
        linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/hero/bg-tab-2x.jpg);
    }
  }

  .hero-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .hero-left-side {
    width: 100px;
    display: flex;
    align-items: flex-end;
  }

  .hero-social-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    transform-origin: bottom left;
    transform: rotate(-90deg) translateY(100%);
    padding-top: 27px;
    padding-left: 40px;
  }
  .hero-social-list::before {
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--light-theme-color);
    content: '';
  }

  .hero-social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--light-theme-color);
    transition: color 250ms linear;
  }
  .hero-social-link:hover,
  .hero-social-link:focus {
    color: var(--accent-color);
  }
  /*================== /SECTION FOR HERO ==================*/

  /*================== SECTION FOR ABOUT US ==================*/
  .about-left-images {
    display: block;
    margin-right: 30px;
  }

  .about-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .about-text {
    font-size: 18px;
  }

  .choose-us-container {
    margin: 0;
    margin-left: auto;
  }

  /*================== /SECTION FOR ABOUT US ==================*/

  /*================== SECTION FOR SERVICES AND PRICES  ==================*/
  .prices {
    background-image:
      linear-gradient(rgba(17, 19, 25, 0.2), rgba(17, 19, 25, 0.2)),
      url(../images/services/services-tab.jpg);
  }
  /*================== /SECTION FOR SERVICES AND PRICES  ==================*/

  /*================== SECTION FOR OUR BARBERS ==================*/
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .berbers-section > .container {
      max-width: 450px;
    }

    .prices-table-text {
      font-size: 18px;
      line-height: 1.66;
    }

    .prices-table-left,
    .prices-table-right {
      padding: 32px 40px;
    }

    .phone-number {
      order: 1;
    }
    .btn-button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  /*================== /SECTION FOR OUR BARBERS ==================*/

  /*================== GALLERY  ==================*/
  .gallery-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  /*================== /GALLERY  ==================*/

  /*================== SECTION FOR ONLINE-BOOKING AND CONTACTS  ==================*/
.booking-form-title {
 text-align: left;
}

.booking-form-input-wrapper {
  flex-direction: row;
  gap: 30px;
}
  /*================== /SECTION FOR ONLINE-BOOKING AND CONTACTS  ==================*/
}
